@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=PT+Sans+Narrow&family=Roboto&display=swap');

h1{
  font-family: 'Roboto', sans-serif;font-family: 'Comic Neue', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  text-align: center;
}

#form{
    background-color:white;
    border-radius: 10px;
    width: 700px;
    margin:auto;
    margin-top: 100px;
    opacity: 0.9;
    height:600px;
    padding: 0px 20px 20px 20px;
    box-shadow: darkgray;
}

img{
  width: 180px;
  border-radius: 70px;
}
